*.swp
*~
*.iml
.*.haste_cache.*
.DS_Store
.idea
.babelrc
.eslintrc
npm-debug.log
lib
/src/
.storybook/
./storybook/
*.tgz
.webpack.config.babel
.babel.config.js
/.vscode
/stories/
/storybook-static/
/__mocks__/
.eslintrc.js
babel.config.js
jest.config.js
/scripts/
setupJest.js
webpack.config.babel.js